/*
  Flexible Box
  For Parent
    - justify-content : flex-start | flex-end | center | space-between | space-around | space-evenly | start | end
    justify-content: flex-start; // default
    justify-content is used to align the content inside the container
    justify-content should be added to Parent Element
    justify-content: flex-start => Align the content to the start of the container
    justify-content: flex-end => Align the content to the end of the container
    justify-content: center => Align the content to the center of the container
    justify-content: space-between => Align the content with space between the content
    justify-content: space-around => Align the content with space around the content
    justify-content: space-evenly => Align the content with space between the content including the start and end => Equal space between the content and start and end
    justify-content: start => Align the content to the start of the container
    justify-content: end => Align the content to the end of the container
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    /* flex-flow: row wrap; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}

.flex div {
    background-color: #f00;
    color: white;
    width: calc(94% / 3);
    text-align: center;
    padding: 20px;
}

/* .flex-two {
    margin-left: 1%;
    margin-right: 1%;
} */

.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.float div {
    background-color: #f00;
    color: white;
    float: left;
    width: calc(94% / 3);
    text-align: center;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

/* .float-two {
    margin-left: 1%;
    margin-right: 1%;
} */