div {
    /* 
        font-style property is used to set the style of the font.
        values: normal, italic, oblique, initial, inherit.
    */
    font-style: italic;

    /* 
        font-weight property is used to set the weight of the font.
        values: normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900, initial, inherit.
    */
    font-weight: bold;
}

p {

    /* 
        font-variant property is used to set the variant of the font.
        values: normal, small-caps, initial, inherit.

        Note: The small-caps value is used to display the text in small-caps.
    */
    font-variant: small-caps;
}